<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/header.ejs')%>
</head>
<body>
    <%-include('./inc/nav.ejs')%>
    <section>
        <h1>Hakkımızda</h1>
        <p>sdfldsfkljsdlkj lksdfjdlksjfksdjfklsdjfsdjlfjsdk jksdjfkdlsjflsdkfdsklj skdlfj sdklfjkksdlfkldjs</p>
        <p>sdfldsfkljsdlkj lksdfjdlksjfksdjfklsdjfsdjlfjsdk jksdjfkdlsjflsdkfdsklj skdlfj sdklfjkksdlfkldjs</p>
        <p>sdfldsfkljsdlkj lksdfjdlksjfksdjfklsdjfsdjlfjsdk jksdjfkdlsjflsdkfdsklj skdlfj sdklfjkksdlfkldjs</p>
    </section>
</body>
</html>